.invoice .invoice-logo-space img{
    width: 220px;
    text-align: right;
    float: right;
    position: relative;
    top: 10px;
}
.invoice-logo .badge{
    border-radius: 30px !important;
    font-weight: 700;
    padding: 2px 23px;
}
.invoice .fatura-numero{
    display: block;
    font-size: 43px;
}
.invoice .fatura-data-gerada{
    display: block;
    font-size: 21px;
    color: #666;
    margin-top: -5px;

}
.invoice hr{
    border-top: 1px solid #d9d9d9;
}
.invoice h3{
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
}
.invoice .cabecalho-inferior .list-unstyled li:first-child{
    border-bottom: 1px solid #ccc;
    display: table;
    padding-bottom: 3px;
    margin-bottom: 7px;
    font-weight: bold;
    text-transform: uppercase;
}
.invoice #tabela-item h3,
.invoice #tabela-desconto h3{
    margin-top: 25px;
    margin-bottom: 10px;
}
.invoice table{
    margin: 0px;
}
.invoice #rodape .well{
    padding-left: 0px;
}
.invoice .invoice-block .amounts{
    font-size: 18px !important;   
}
.invoice .invoice-block .amounts li{
    border-bottom: 1px solid #ccc;
    padding: 7px 0;
}
.invoice .invoice-block .amounts li:last-child{
    font-size: 29px;
    color: #20b520;
    border-bottom: 0px;
}
.invoice #rodape{
    margin-top: 20px;
}
.btn-segunda-via-boleto{
    border-color: #48b32c !important;
    color: #fff;
    background: #53d232 !important;
    font-weight: bold;    
    margin-left: 10px;
}
.btn-segunda-via-boleto:hover{
    border-color: #33861d !important;
    background: #3fa525 !important;
}