.btn-cadastrar-categoria:hover {
    background: #057605;
    border-color: #084008;
    color: white;
}
.btn-cadastrar-categoria {
    background: #03af03;
    border: 2px solid #11d911;
    color: white;
    transition: .5s;
}
.form-actions{
	padding: 20px;
    margin: 0;
    float: left;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 2px solid #dfdfdf;
}
.portlet-formulario{
	padding-bottom: 0px !important;
}