/* here you can put your own css to customize and override the theme */
.page-head {
    background-color: #006666;
}
.page-head .page-title h1{
	color: white;
}
.page-head .page-title h1>small{
	color: white;
	opacity: 0.8;
}

#tab3 .form-group{
    margin-bottom: 0;
}
#tab3 .form-group .form-control-static {
    margin-top: 1px;
    margin: 0;
    min-height: 25px;
}
.form-horizontal .control-label{
	font-weight: bold;
}
#tab3 .form-section, #tab3 .portlet-form .form-section{
	margin-bottom: 10px;
}

#label-proprietario-flag-sim{
	margin-right: 25px;
}
#layer-radio-proprietario-flag{
	margin-top: 7px;
}
#layer-radio-proprietario-flag label,
#layer-radio-proprietario-flag input{
	cursor: pointer;
}
.proprietario-nome{
	text-transform: uppercase;
}
#cpf-cnpj-proprietario-error{
	position: absolute;
	bottom: -51px;
	font-weight: bold;	
}
#cpf-cnpj-proprietario{
	text-align: center;
}