
.table-scrollable input,
.table-scrollable select{
    display: none;
}
.table-scrollable .form-control-static{
    min-height: auto;
    padding: 0;
}
.form-actions {
    padding: 20px;
    margin: 0;
    float: left;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 2px solid #dfdfdf;
}