.linha-separadora{
  margin-top: 0px !important;
  margin-bottom:0px !important;
  border: 1px dotted #ddd !important;
}
.titulo-inscricao{
  margin: 0px;
  font-weight: 600;
}
.titulo-inscricao .font-yellow-crusta{
  display: block;
  font-size: 28px;
  margin-top: 3px;
}
.display-none{
  display: none;
}
.titulo-cavaleiro{
  margin: 10px 0;
  font-weight: bold;
}
.titulo-cavaleiro span,
.titulo-animal span{
  font-size: 17px !important;
}
.titulo-cavaleiro .titulo-categoria,
.titulo-animal .titulo-categoria{
  letter-spacing: -1px;
  display: block;
  margin-top: 5px;
  color: #888;
  font-size: 14px;
}
.titulo-cavaleiro span,
.titulo-animal span{
  letter-spacing: -1px;
  font-weight: 600;
}
.titulo-animal{
  margin-top: 0px;
}
.page-content-inner .portlet.light{
  background: none;
  padding: 0;
  margin: 0;
}
.table-striped tr{
  background: none !important;
}
.table-striped thead{
  background: rgba(255, 255, 255, 0.68);
}
.portlet.light .portlet-body{
  padding: 0;
}
.table{
  margin: 0;
}
