
    #perfil-competidor .form-view input[type='text'],
    #perfil-competidor .form-view select{
        display: none;
    }
    #perfil-competidor .form-view div.form-control-static{
        display: block;
        padding: 0;
        margin: 0;
        min-height: inherit;
    }
    #perfil-competidor .form-view .form-actions{
        display: none;
    }
    #perfil-competidor .form-edit .form-actions{
        display: block;
    }
    #perfil-competidor input[type="text"]{
    }
    #perfil-competidor .form-edit .form-group{
	    border-bottom: 2px dotted #eee;
	    padding-left: 0 !important;
	    padding-right: 0 !important;
    }
    #perfil-competidor .form-view .form-group{
        padding: 0 20px;
    }
    #perfil-competidor .form-group label{
        font-weight: bold;
    }
    #perfil-competidor .fg-left{
        float: left;
    }
    #perfil-competidor .fg-right{
        float: right;
    }
    #perfil-competidor .fg-50{
        width: 49%;
    }
    #perfil-competidor input,
    #perfil-competidor select{
        height: 40px;
        min-height: 40px;
        font-size: 13px;
        margin-top: 5px;
    }

    #form-registro input,
    #form-registro select{
        height: auto !important;
        min-height: auto !important;
        font-size: 13px;
        margin-top: 5px;
        margin-right: 10px;
    }

    #perfil-competidor select{
        height: 35px;
        outline:0px;
    }
    #perfil-competidor .form-control-static{
        display: block;
        color: #999;
        font-size: 13px;
    }
	#perfil-competidor .form-actions, .portlet-form .form-actions {
	    padding: 20px;
	    margin: 0;
	    float: left;width: 100%;
	    background-color: #f5f5f5;
	    border-top: 2px solid #dfdfdf;
	}
    #perfil-competidor .fg-view{
        border: none !important;
        padding: 0 20px !important;
    }
    #perfil-competidor #perfil-competidor-divisao{
    	float: left;
    	width: 100%;
    	margin: 10px 0 20px 0;
    	background:none;
    }
    #perfil-competidor .btn-cadastrar-telefone{
        background: #03af03;
        border: 2px solid #11d911;
        color:white;
        transition: .5s;
    }

    #perfil-competidor .btn-cadastrar-telefone:hover{
        background: #057605;
        border-color: #084008;
        color: white;
    }
    #perfil-competidor label.error{
        color: red;
    }
   

    #perfil-competidor .table-scrollable .label.label-sm{
        display: block;
        padding: 7px 0;
        border-radius: 20px !important;        
    }

    #perfil-competidor .tipo-pagamento-item{
        background: white;
        border: 1px solid #eee;
        float: left;
        width: 100%;
        padding: 30px 70px 20px 70px;
        margin-bottom: 0px;
    }
    .tipo-pagamento-item span{
        left: 27px !important;
        top: 35px !important;        
    }

    #formulario-novo-registro .titulo-secao{
        border-left: 5px solid #337ab7;
        padding-left: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        padding-top: 18px;
        font-size: 16px;
        font-weight: 600 !important;
        background: rgba(238, 238, 238, 0.39);
        margin: 0px;
    }
    #formulario-novo-registro .titulo-secao .badge{
        margin-right: 7px;
        font-weight: bold;
        font-size: 15px !important;
        border-radius: 30px !important;
        padding: 8px 12px !important;
        height: 34px;
        line-height: inherit;
    }
    




    #perfil-competidor .tipo-pagamento-item:hover,
    .tipo-pagamento-item-active{

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,cccccc+100&0+0,0.65+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(204,204,204,0.25) 100%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(204,204,204,0.25) 100%) !important; /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(204,204,204,0.25) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6cccccc',GradientType=0 )  !important; /* IE6-9 */

    }


    .nav-tabs-principal>li.active>a, .nav-tabs-principal>li.active>a:focus, .nav-tabs-principal>li.active>a:hover{
        color: white;
        background-color: #066;
        font-weight: 600;
    }
    .nav-tabs{
        border-bottom: 2px solid #066;        
    }
    .nav-pills, .nav-tabs{
        margin-bottom: 0px;
    }
    .nav-pills>li>a, .nav-tabs>li>a{
        color: #666;
        font-weight: 400 !important;
    }

    .portlet.light>.portlet-title{
        background: rgba(238, 238, 238, 0.45);
        padding: 20px 20px;        
        border-left: 3px solid #066;
    }
    .portlet.light>.portlet-title>.caption{
        padding: 0;
    }
    .portlet.light>.portlet-title>.caption>.caption-subject {
        font-size: 18px;
        color: #006666 !important;
        font-weight: 400 !important;
    }
    .portlet>.portlet-title{
        margin-bottom: 0px;
    }
    .portlet.light>.portlet-title>.caption .fa {
        font-weight: bold;
        color: #006666;
    }
    .portlet>.portlet-title>.caption>.caption-helper{
        display: block;
        margin-top: 6px;
    }
    .portlet.light>.portlet-title>.actions{
        padding: 0;
    }
    .portlet.light .portlet-body{
        border: 1px solid #eee;
    }
    .tab-content>.active{
        float: left;
        width: 100%;
    }

    #portlet-vinculos-atleta .btn-outline{
        width: 100%;
    }
    .trocar-vinculo{
        font-size: 11px;
        margin-left: 10px;
    }
    .portlet.light{
        width: 100%;
        float: left;
    }
    .table.table-light>tbody>tr>td{
        padding-left: 20px;
        padding-right: 20px;
    }


    .btn.btn-outline{
        width: 100%;
    }
    .btn.btn-outline.success {
        border-color: #3598dc;
        color: #3598dc;
        background: 0 0;
    }
    .btn.btn-outline.success.active, .btn.btn-outline.success:active, .btn.btn-outline.success:active:focus, .btn.btn-outline.success:active:hover, .btn.btn-outline.success:focus, .btn.btn-outline.success:hover {
        border-color: #3598dc;
        color: #FFF;
        background-color: #3598dc;
    }

    .btn.btn-outline.default {
        border-color: #ccc;
        color: #999;
        background: 0 0;
    }
    .btn.btn-outline.default.active, .btn.btn-outline.default:active, .btn.btn-outline.default:active:focus, .btn.btn-outline.default:active:hover, .btn.btn-outline.default:focus, .btn.btn-outline.default:hover {
        border-color: #aaa;
        color: #FFF;
        background-color: #ccc;
    }

    .btn.btn-outline.warning {
        border-color: #dab10d;
        color: #dab10d;
        background: 0 0;
    }
    .btn.btn-outline.warning.active, .btn.btn-outline.warning:active, .btn.btn-outline.warning:active:focus, .btn.btn-outline.warning:active:hover, .btn.btn-outline.warning:focus, .btn.btn-outline.default:hover {
        border-color: #dab10d;
        color: #FFF;
        background-color: #F1C40F;
    }




    .btn.btn-action-section {
        border-color: #48b32c;
        color: #fff;
        background: #53d232;
        font-weight: bold;
        top: 6px;
        position: relative;
    }
    .btn.btn-action-section:hover{
        border-color: #33861d;
        background: #3fa525;
    }

    #portlet-formulario-registro{
        float: left;
        width: 100%;
        border: 0px !important;
        padding: 0px !important;
    }
    #portlet-formulario-registro .portlet-body{
        border: 0px !important;
        padding-top: 0px !important;
    }
    #portlet-formulario-registro .portlet-title{
        border: 0;
        background: white;
        padding-left: 0;
        padding-top: 0px;
    }


    #formulario-registro-modalidade,
    #formulario-registro-tipo-registro,
    #formulario-registro-valores,
    #formulario-registro-pagamento{
        /*border: 1px solid #ccc;*/
        margin: 0px !important;
        margin-bottom: 20px !important;
        float: left;
        width: 100%;
        background: rgba(238, 238, 238, 0.12);
    }
    #formulario-registro-valores .table-scrollable{
        margin: 0px !important;
    }
    #formulario-registro-modalidade .form-group,
    #formulario-registro-tipo-registro .form-group,
    #formulario-registro-pagamento .form-group{
        margin: 0px;
    }
    #formulario-registro-modalidade .form-group{
        padding: 15px 25px;
    }
    #formulario-registro-modalidade .form-group label{
        width: 80%;
    }

    #formulario-registro-modalidade label,
    #formulario-registro-tipo-registro label,
    #formulario-registro-pagamento label{
        cursor: pointer;
    }
    #portlet-registro{
        margin-bottom: 25px;
    }
    #portlet-formulario-registro .alert-warning{
        margin: 0px !important;
    }


    .tablerow-trocar-empresa h4{
        background: #337ab7;
        display: table-cell;
        padding: 8px 20px;
        border-radius: 20px;
        color: white;
        font-size: 13px;
        font-weight: 600;
    }

    .tablerow-trocar-empresa .alert-warning{
        margin-top: 20px;
    }
    .tablerow-trocar-empresa label{
        text-align: right
    }

    #layer-loading-registro{
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.59);
        width: 100%;
        height: 100%;
        z-index: 999;
        color:white;
        display: block;
        padding-top: 10%;
        text-align: center;
        position: fixed;
    }
    #layer-loading-registro .fa{
        font-size: 135px;
        display: block;
        text-align: center;
        width: 100%;
        float: left;
    }
    #layer-loading-registro span{
        font-size: 30px;
        display: block;
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 130px;
    }

    .tipo-registro-item {
        border-bottom: 1px solid #eee;
        float: left;
        width: 100%;
        padding-top: 11px;
        padding-bottom: 8px;
        transition: .5s;
        padding-left: 20px;
    }
    .tipo-registro-item:hover {
        background-color: #eee;
    }
    #tipo-registro-item-3{
        border-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    .tipo-registro-item small{
        font-weight: 400 !important;
    }
    .tipo-registro-item input{
        top: -6px;
        position: relative;   
    }
    #formulario-registro-valores .font-blue-sharp{
        font-weight: 600;
    }
    #form-registro-submit{
        background: #53d232;
        border-color: #53d232;
        padding: 16px 115px;
        font-weight: bold;
        font-size: 20px;
        border-radius: 70px !important;
    }
    #form-registro-submit small{
        display: block;
        font-weight: 400 !important;
    }