
    #perfil-email .btn-cadastrar-email{
        background: #03af03;
        border: 2px solid #11d911;
        color:white;
        transition: .5s;
    }

    #perfil-email .btn-cadastrar-email:hover{
        background: #057605;
        border-color: #084008;
        color: white;
    }

    #perfil-email .porlet-main{
        width: 100%;
        float: left;
    }
    #perfil-email .porlet-body-main{
        padding-top: 0;
    }
    #perfil-email #form-email .form-actions .btn-submit{
        padding: 10px 40px;
        display: block;
    }
    #perfil-email #aviso-nenhum-email{
        margin-bottom: 15px;
    }