
    #meu-perfil .form-view input[type='text'],
    #meu-perfil .form-view select{
        display: none;
    }
    #meu-perfil .form-view div.form-control-static{
        display: block;
        padding: 0;
        margin: 0;
        min-height: inherit;
    }
    #meu-perfil .form-view .form-actions{
        display: none;
    }
    #meu-perfil .form-edit .form-actions{
        display: block;
    }
    #meu-perfil input[type="text"]{
    }
    #meu-perfil .form-edit .form-group{
	    border-bottom: 2px dotted #eee;
	    padding-bottom: 20px !important;
	    padding-left: 0 !important;
	    padding-right: 0 !important;
    }
    #meu-perfil .form-view .form-group{
        padding: 0 20px;
    }
    #meu-perfil .form-group label{
        font-weight: bold;
    }
    #meu-perfil .fg-left{
        float: left;
    }
    #meu-perfil .fg-right{
        float: right;
    }
    #meu-perfil .fg-50{
        width: 49%;
    }
    #meu-perfil input,
    #meu-perfil select{
        height: 40px;
        min-height: 40px;
        font-size: 13px;
        margin-top: 5px;
    }
    #meu-perfil select{
        height: 35px;
        outline:0px;
    }
    #meu-perfil .form-control-static{
        display: block;
        color: #999;
        font-size: 13px;
    }
	#meu-perfil .form-actions, .portlet-form .form-actions {
	    padding: 20px;
	    margin: 0;
	    float: left;width: 100%;
	    background-color: #f5f5f5;
	    border-top: 2px solid #dfdfdf;
	}
    #meu-perfil .fg-view{
        border: none !important;
        padding: 0 20px !important;
    }
    #meu-perfil #meu-perfil-divisao{
    	float: left;
    	width: 100%;
    	margin: 10px 0 20px 0;
    	background:none;
    }
    #meu-perfil .btn-cadastrar-telefone{
        background: #03af03;
        border: 2px solid #11d911;
        color:white;
        transition: .5s;
    }

    #meu-perfil .btn-cadastrar-telefone:hover{
        background: #057605;
        border-color: #084008;
        color: white;
    }
    #meu-perfil label.error{
        color: red;
    }
   

