
    #perfil-telefone .btn-cadastrar-telefone{
        background: #03af03;
        border: 2px solid #11d911;
        color:white;
        transition: .5s;
    }

    #perfil-telefone .btn-cadastrar-telefone:hover{
        background: #057605;
        border-color: #084008;
        color: white;
    }

    #perfil-telefone .porlet-main{
        width: 100%;
        float: left;
    }
    #perfil-telefone .porlet-body-main{
        padding-top: 0;
    }
    #perfil-telefone #form-telefone .form-actions .btn-submit{
        padding: 10px 40px;
        display: block;
    }
    #perfil-telefone #aviso-nenhum-telefone{
        margin-bottom: 15px;
    }