.badge {
	height: 100% !important;
}

.badge-dark {
	background-color: black !important;
}

.badge-green {
	background-color: green !important;
}

.badge-red {
	background-color: red !important;
}

.btn-default {
	background-color: transparent;
	border: none;
}
