/*font-family: 'Montserrat'; color: #3379b7;*/

.page-wrapper .page-wrapper-middle{
  background: white !important;
}
.inscricao-cabecalho .page-logo a{
  display: block;
  margin: 10px;
}
.inscricao-cabecalho .nome-evento small{
  font-size: 22px;
  margin-top: 30px;
}
.inscricao-cabecalho .nome-evento h3{
  margin: 5px 0 25px 0 !important;
  font-family: 'Montserrat', Arial;
}
.inscricao-cabecalho{
  margin-bottom: 15px;
}
.inscricao-titulo-secao ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.inscricao-titulo-secao li{
  float: left;
  display: inline-block;
}
.page-inscricao .numero-bloco{
  background: #3379b7;
  color: white;
  border-radius: 30px !important;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.page-inscricao .inscricao-titulo-secao .titulo{
  font-size: 25px;
  color: #3379b7;
  letter-spacing: -1px;
  margin-top: 10px;
  margin-left: 15px;
  font-weight: 300;
}
.bloco-conjunto{
  background: #eee;
  padding: 30px 0;
  border-top: 3px solid #eee;
  margin-bottom: 30px;
}
.bloco-conjunto h3{
  margin: 0;
  font-family: 'Montserrat';
  margin-bottom: 8px;
  color: #666;
  font-size: 18px;
}
.bloco-conjunto input[type='text']{
  padding: 22px 13px;
  border: 2px solid #eee;
  margin-bottom: 10px;
}
.bloco-conjunto input[type='text']:focus{
  border: 2px solid #aaa;
}
.inscricao-titulo-secao{
  margin-bottom: 20px;
}
.line-through{
  text-decoration: line-through;
}
.bloco-series-provas{
  margin-top: 30px;
}
.separador-inscricao{
  margin-top: 0px !important;
  margin-bottom:0px !important;
  border: 1px dotted #eee !important;
}
#btn-boleto:hover {
    background-color: #187e18;
    border-color: #0d5f0d;
    color: white;
}
#btn-boleto {
    background-color: #3de43d;
    border-color: #1fc11f;
    border-radius: 7px !important;
    margin-top: 30px;
    margin: 30px auto;
    font-weight: bold;
    color: #0d3c0d;
    padding: 23px;
    transition: .5s;
}
.easy-autocomplete-container{
    top: 38px;
}

.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category{
  padding: 0px !important;
}
.easy-autocomplete-container ul li div {
    padding: 4px 12px !important;
    display: block !important;
}
#btn-adicionar-serie{
  display: block;
  width: 50%;
  border-radius: 30px !important;
}

#serie-preco-cheio{
  text-decoration: line-through;
}
#categorias-atleta a {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 7px 10px;
    transition: 0.5s;
    color: #666;
    background: white;
    text-decoration: none;
}
#categorias-atleta a:hover {
  color: #333;
  background: #eee;
}
